.dialog-pane{
    -fx-border-color:black;
    -fx-border-width:2px;
}


.dialog-pane > .button-bar > .container {
    -fx-background-color:black;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-font-size:24;
}


